<% provide :submit_text, t(".update") %>
<setion class="h-screen flex flex-col justify-center items-center -mt-44">
  <div class="bg-white rounded-md p-8">
    <h1 class="text-center text-2xl font-semibold text-primary">
      <%= t ".title", deep_intepolation: true, field: @field.name %>
    </h1>
    <%= render "form", schedule: @unavailable_field_schedule,
                       action_url: admin_field_unavailable_field_schedule_path(@field, @unavailable_field_schedule) %>
    <div class="mt-4 text-center text-lg">
      <span><%= t(".or") %></span>
      <%= link_to t(".delete"), admin_field_unavailable_field_schedule_path,
                data: {turbo_method: :delete,
                       turbo_confirm: t(".confirm")},
                class: "cursor-pointer underline text-xl
                        text-light-red font-medium ml-2
                        hover:opacity-50 transition-opacity" %>
    </div>
  </div>
</section>
