<% provide :title, t(".edit_profile") %>
<% provide :button_text, t(".submit") %>
<div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-2">
  <div class="bg-white items-center justify-center px-6 py-8 rounded shadow-md text-black w-full">
    <h1 class="mb-8 text-3xl text-center"><%= t ".edit_profile" %></h1>
    <div>
      <%= render "form" %>
    </div>
  </div>
</div>
