<% provide :title, t(".forgot_password") %>
<div class="container max-w-md mx-auto px-2 h-screen
            flex flex-col justify-center items-center -mt-44">
  <div class="bg-white items-center justify-center px-6 py-8
              rounded shadow-md text-black w-full">
    <h1 class="mb-8 text-3xl text-center"><%= t ".forgot_password" %></h1>
    <%= render "new_form" %>
  </div>
</div>
