<% if object.errors.any? %>
  <div class="error_explanation" style="color: red">
    <%# Check if single was provided or not %>
    <% if defined?(single) == nil %>
      <%= t ".form_contain" %> <%= pluralize(object.errors.count, t(".error")) %>.
      <ul style="color: red; margin: 0 0 30px">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% else %>
      <%= object.errors.full_messages[0] %>
    <% end %>
  </div>
<% end %>
