<h1><%= t ".title", deep_intepolation: true, name: @resource.name %></h1>
<p><%= t ".content" %></p>
<p><%= link_to t(".reset_password"),
               edit_user_password_url(reset_password_token: @token) %>
</p>
