<%= form_for (current_user.ratings.build), local: true do |f| %>
  <%= render "rating_input", f: f %>
  <div class="mt-4">
    <%= f.submit t("fields.rating.submit"), class: "inline-flex items-center px-4 py-2 bg-primary hover:bg-secondary
                                                    text-white rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
  </div>
<% end %>
