<div class="mt-6 pl-6 text-lg">
  <span class="text-primary border-r border-stone-400 pr-5">
    <%= fa_icon "heart-o" %>
    <%= t ".loved", deep_intepolation: true, count: loved_count %>
  </span>
  <span class="pl-5">
    <%= t ".booked", deep_intepolation: true, count: booked_count %>
  </span>
</div>
