<header class="container py-4 flex justify-between items-center">
  <%= render "shared/logo" %>
  <nav>
    <ul class="flex gap-x-12">
      <li>
        <%= link_to t(".home"), root_path,
            class: ["text-xl font-semi-bold hover:opacity-50 transition-opacity",
            ("active-nav" if root_path == request.path)]
        %>
      </li>
      <li>
        <%= link_to t(".login"), "#",
            class: "text-xl font-semi-bold hover:opacity-50 transition-opacity"
        %>
      </li>
    </ul>
  </nav>
</header>
